body {
  background-color: rgb(20, 21, 28);
  margin: 0;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(15, 15, 21) 0%, rgb(20, 21, 28) 25%, rgb(27, 28, 39) 51%, rgb(33, 35, 51) 100%);
  -webkit-animation: AnimateBG 10s ease infinite;
  animation: AnimateBG 10s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('./fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.Header {
  background-color: rgba(16, 17, 23, 0.7);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: right;
  outline: 3px solid;
  outline-color: rgb(55, 56, 68);
  position: sticky;
  top: 0;
  z-index: 30;
}

.HeaderButton {
  font-family: "JetBrains Mono", monospace;
  width: 120px;
  height: 35px;
  font-size: 25px;
  background-color: transparent;
  color: white;
  align-items: center;
  border: transparent;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  margin: 20px;
  margin-left: 50px;
  user-select: none;
}

.HeaderButton:hover {
  color: rgb(152, 162, 255);
}

.HeaderButtonHome {
  font-family: "JetBrains Mono", monospace;
  width: 300px;
  height: 35px;
  font-size: 30px;
  background-color: transparent;
  color: white;
  align-items: center;
  border: transparent;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  margin: 20px;
  font-weight: bold;
  margin-right: auto;
  user-select: none;
}

.HeaderButtonHome:hover {
  color: rgb(152, 156, 255);
}

.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 200px;
}

.IntroductionHeaderText {
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 80px;
    margin: 0;
    margin-bottom: 20px;
    user-select: none;
    margin-bottom: 50px;
}

.PersonalPicture {
    border-radius: 999px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    user-select: none;
    margin-left: 100px;
} 

.IntroductionText {
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    user-select: none;
    width: 600px;
}